html, body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #0d1117;
  color: #fff;
}
a {
  color: #8BB8F8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
